<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
    <nav class="navbar bg-base-100 shadow-lg rounded-box">
        <div class="flex-1 px-2 mx-2">
            <span class="text-lg font-bold">
                Dating App
            </span>
        </div>
        <div class="flex-none hidden lg:block">
            <ul class="menu menu-horizontal">
                <!-- Navbar menu content here -->
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/members">Members</a></li>
            </ul>
        </div>
    </nav>
</header>